.thank-you-heading svg {
  width: 42px;
  display: inline-block;
  margin: 8px 0 -8px 0; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0; }

.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out; }

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards; }

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

.loginCon {
  background: #eceff1;
  min-height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../img/background-pattern-vector.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .loginCon.mesg {
    background: whitesmoke; }
    .loginCon.mesg .mesgInner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: top;
      -ms-flex-pack: top;
      justify-content: top;
      margin-top: 30px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .loginCon.mesg .mesgInner img.logoImg {
        height: 50px;
        margin-bottom: 15px; }
        @media (max-width: 767px) {
          .loginCon.mesg .mesgInner img.logoImg {
            height: 40px;
            margin-bottom: 5px; } }
      @media (max-width: 767px) {
        .loginCon.mesg .mesgInner {
          padding-left: 15px;
          padding-right: 15px; } }
    .loginCon.mesg .successMod {
      width: 100%;
      min-height: 50px;
      max-width: 800px;
      background: #fff;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 0px 0px 0px 0px;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      text-align: center; }
      .loginCon.mesg .successMod .successhead {
        background: #08ac67;
        padding: 17px 0px;
        margin-bottom: 30px; }
        .loginCon.mesg .successMod .successhead img {
          margin: 0px; }
      .loginCon.mesg .successMod .succesBody {
        padding: 15px 50px; }
        @media (max-width: 767px) {
          .loginCon.mesg .successMod .succesBody {
            padding: 5px 15px; } }
      .loginCon.mesg .successMod h2 {
        font-weight: 400;
        color: #333333;
        font-size: 24px;
        margin-bottom: 46px; }
        @media (max-width: 767px) {
          .loginCon.mesg .successMod h2 {
            font-size: 22px;
            margin-bottom: 30px; } }
      .loginCon.mesg .successMod h3 {
        color: #cac6c6; }
        .loginCon.mesg .successMod h3 i {
          font-size: 36px;
          margin-bottom: 15px; }
          @media (max-width: 767px) {
            .loginCon.mesg .successMod h3 i {
              font-size: 24px; } }
        @media (max-width: 767px) {
          .loginCon.mesg .successMod h3 {
            font-size: 22px;
            margin-bottom: 15px; } }
      .loginCon.mesg .successMod p {
        font-size: 1rem;
        margin-bottom: 30px; }
        .loginCon.mesg .successMod p span.emailSpan {
          color: #2196f3; }
      .loginCon.mesg .successMod i.anim {
        width: 80px;
        display: inline-block;
        margin-bottom: 15px; }
        @media (max-width: 767px) {
          .loginCon.mesg .successMod i.anim {
            width: 60px; } }

.loginCon_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.loginMod {
  width: 100%;
  max-width: 400px;
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.loginMod .container-fluid {
  padding: 35px 25px 15px; }

.loginMod .loginMod_h {
  min-height: 90px;
  text-align: center;
  line-height: 82px;
  background: #08ac67; }

.loginMod .loginMod_h img {
  width: 100%;
  max-width: 225px;
  line-height: 90px;
  height: auto;
  display: inline-block; }

.loginMod .form-group {
  margin-bottom: 30px; }

.loginMod .checkbox {
  padding-left: 21px;
  cursor: pointer; }

.loginMod .btn.btn-login {
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 0.85rem;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); }

.loginMod .link-d {
  font-size: 0.75rem; }

.loginMod .input-group-addon {
  color: #bdbdbd; }

.loginMod input.form-control {
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: 0.85rem;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #555555;
  font-weight: 500; }

.loginMod input.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.loginMod .form-group.btn-login-con {
  margin-bottom: 15px; }

@media (max-width: 767px) {
  .loginMod input.form-control {
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 1rem; }
  .loginCon_inner {
    padding-left: 30px;
    padding-right: 30px; }
  .loginMod .btn.btn-login {
    font-size: 1rem; }
  .loginMod .link-d {
    font-size: 0.9rem; } }