{% extends 'base.html' %}
{% load static %}
{% block title %}Forget password | etlrobotsaas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

<div class="loginCon">
      <div class="loginCon_inner">


        <div class="loginMod">
          <div class="loginMod_h">
            <img src="{% static 'assets/img/logo-ETLRobot.png' %}">
          </div>
          <div class="container-fluid">
              <span> {{ form.non_field_errors }}</span>
            <form  autocomplete="off" method="POST">
              {% csrf_token %}
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input id="email" type="text" class="form-control" name="email" value="" onkeyup="this.setAttribute('value', this.value);" onblur="this.setAttribute('value', this.value);" autocomplete="off">
                  <span class="floatingSpan">Email</span>
                  </div>
              </div>
              <div class="form-group text-center btn-login-con">
                <button type="submit" class="btn btn-login btn-success">Reset Password</button>
              </div>
            </form>
          </div>
          <p class="loginMod_f">Back to <a class="link-d" href="{% url 'etl_robot_app:login' %}">Sign In</a></p>
        </div>


      </div>

      {% block footer %}
        <p>Copyright © 2018 <a class="link-d" href="javascript: void(0)">ETL Robot.</a> All rights reserved.</p>
      {% endblock %}
    </div>
{% endblock %}