{% extends 'base.html' %}
{% load static %}
{% block title %}Change password | etlrobotsaas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

<div class="loginCon">
      <div class="loginCon_inner">


        <div class="loginMod">
          <div class="loginMod_h">
            <img src="{% static 'assets/img/logo-ETLRobot.png' %}">
          </div>
          <div class="container-fluid">

              {% if validlink %}
              <span> {{ form.non_field_errors }}</span>
            <form  autocomplete="off" method="POST">
              {% csrf_token %}
                <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="password" type="password" class="form-control" name="new_password1" value="" onkeyup="this.setAttribute('value', this.value);" onblur="this.setAttribute('value', this.value);" autocomplete="off">
                  <span class="floatingSpan">Password</span>
                     <span style="color:red"> {{ form.new_password1.errors }}</span>
                  </div>
              </div>
                 <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="confirm-password" type="password" class="form-control" name="new_password2" value="" onkeyup="this.setAttribute('value', this.value);" onblur="this.setAttribute('value', this.value);" autocomplete="off">
                  <span class="floatingSpan">Confirm Password</span>
                    <span style="color:red"> {{ form.new_password2.errors }}</span>
                  </div>
              </div>
              <div class="form-group text-center btn-login-con">
                <button type="submit" class="btn btn-login btn-success">Change Password</button>
              </div>
            </form>
              {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
          </div>
        </div>


      </div>

      {% block footer %}
        <p>Copyright © 2018 <a class="link-d" href="javascript: void(0)">ETL Robot.</a> All rights reserved.</p>
      {% endblock %}
    </div>
{% endblock %}