{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
 <div class="loginCon mesg">
      <div class="mesgInner">


        <div class="successMod">
          <div class="successhead">
            <img class="logoImg" src="{% static 'assets/img/logo-ETLRobot.png' %}"><!-- logo-etl.svg -->
          </div>

          <div class="succesBody">

            <i class="anim">
             <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2"> <circle class="path circle" fill="none" stroke="#08ac67" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle> <polyline class="path check" fill="none" stroke="#08ac67" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline> </svg>
            </i>

            <h2>Password Reset Link Send Successfully</h2>

            <h3><i class="far fa-envelope-open"></i> Reset Your Password</h3>

            <p>
               We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
            </p>

            <p>
               If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
              Didn't reveive an email from us? Contact <span class="emailSpan">steve@etlrobot.com</span>
            </p>

            <br>
            <a class="link-d" href="javascript: void(0);">Get back to home page</a>

          </div>
        </div>


      </div>

      {% block footer %}<p>Copyright © 2018 <a class="link-d" href="javascript: void(0)">ETL Robot.</a> All rights reserved.</p>{% endblock %}
    </div>

{% endblock %}


