<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{% block title %}Dashboard | etlrobotsaas{% endblock %}</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-customselect.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
          <style type="text/css">
      svg.m_loader{
          position: absolute;
          width: 100px;
          height: 152px;
          margin: 0px;
          display:inline-block;
          background: url({% static 'assets/img/etl-logo-loader.svg' %}) no-repeat center center;
          background-size: cover;
        }
        .svgLoaderCon{
          display: flex;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(255, 255, 255, 1);
          flex: 1;
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 5000000;
        }
        .svgLoaderCon p{
          font-size: 13px;
          margin-top: 207px;
          color: #999;
        }
        .loaderOn{
          overflow: hidden;
        }
        .innerWrapper.loading{
          position: relative;
        }

        .elementsLoader{
          display: none;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(255, 255, 255, 1);
          flex: 1;
          justify-content: center;

          position: absolute;
          z-index: 1;
        }
        .loaderOnsvg.e_loader{
          width: 100px;
          height: 152px;
          margin: 0px;
          margin-top: 150px;
            display:inline-block;
        }

        .loaderCon .e_loader{
          width: 100px;
          height: 32px;
          margin: 0px;
          margin-top: 0px;
            display:inline-block;
        }

        .innerWrapper.loading .elementsLoader{
            display: flex;
        }

        .loaderCon.loading{
          position: relative;
        }

        .loaderCon .elementsLoader{
          display: none;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(255, 255, 255, 1);
          flex: 1;
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 1;
        }
        .loaderCon.loading .elementsLoader{
            display: flex;
        }
    </style>


  </head>
  <body>

  <div class="mainCon">

      <nav class="leftNav">
        <ul class="leftUl">
          <li>
            <a class="brandLogo"><img class="" src="{% static 'assets/img/logo-ETLRobot.png' %}" alt=""></a>
          </li>
          <li class="leftNavLab">
            Navigation
          </li>
          <li class="active">
            <a href="{% url 'etl_robot_app:dashboard'%}">
              <span class="navIcon"><i class="fas fa-tachometer-alt"></i></span>
              <span class="navText">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'etl_robot_app:integrations' %}">
              <span class="navIcon"><i class="fas fa-address-book"></i></span>
              <span class="navText">Integrations</span>
            </a>
          </li>
          <li>
            <a href="javascript: void(0)">
              <span class="navIcon"><i class="fas fa-tasks"></i></span>
              <span class="navText">My Plans</span>
            </a>
          </li>
          <li>
            <a href="javascript: void(0)">
              <span class="navIcon"><i class="fas fa-envelope"></i></span>
              <span class="navText">Invite</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="mainCon_inner">
        <div class="mainCon_wrapper">

          <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default top_nav_con">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#">{% block navtitle %}Dashboard{% endblock %}</a>

            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

              </ul>
              <ul class="nav navbar-user navbar-right">
                  <li class="nav-item">
                    <a class="nav-link nav_link_user" href="javascript: void(0);" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="img nav_notifi_con">
                        <i class="far fa-envelope"></i>
                        <i class="noti_Count">0</i>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link nav_link_user" href="javascript: void(0);" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="img">
                        <i class="far fa-user"></i>
                      </span>
                      <span class="name">
                        {{ user.first_name }} {{user.last_name}}
                        {{user.account.id}}
                      </span>
                      <span class="userDownAngle">
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </a>
                    <div class="dropdown-menu userDropDown" aria-labelledby="dropdown03">
                      <a class="dropdown-item" href="#">My Account</a>
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item signOut" href="{% url 'etl_robot_app:logout' %}">Sign Out</a>
                    </div>
                  </li>
                </ul>
            </div>
          </nav>

          <!-- <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid top_nav_con">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>

                </div>
                <ul class="nav navbar-user navbar-right">
                  <li class="nav-item">
                    <a class="nav-link nav_link_user" href="javascript: void(0);" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="img">
                        <i class="fa fa-envelope-o"></i>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link nav_link_user dropdown-toggle" href="javascript: void(0);" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="img">
                        <i class="fa fa-user-o"></i>
                      </span>
                      <span class="name">
                        Username
                      </span>
                    </a>
                    <div class="dropdown-menu userDropDown" aria-labelledby="dropdown03">
                      <a class="dropdown-item" href="#">My Account</a>
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item signOut" href="#">Sign Out</a>
                    </div>
                  </li>
                </ul>
            </div>
        </nav> -->

          <div class="innerWrapper">
             <div class="elementsLoader">
              <svg class="e_loader" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="#ddd" stroke="none" cx="6" cy="50" r="6">
                  <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.1"/>
                </circle>
                <circle fill="#ddd" stroke="none" cx="26" cy="50" r="6">
                  <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.2"/>
                </circle>
                <circle fill="#ddd" stroke="none" cx="46" cy="50" r="6">
                  <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.3"/>
                </circle>
              </svg>
            </div>

           {% block content %}
            {% endblock %}


          </div> <!-- .innerWrapper -->


        </div> <!-- .mainCon_wrapper -->

        <footer class="loginFooter">
          <p>Copyright © 2018 <a class="link-d" href="javascript: void(0)">ETL Robot.</a> All rights reserved.</p>
        </footer>

      </div>
    </div>
<div class="svgLoaderCon">
      <svg class="m_loader" version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <circle fill="#08ac67" stroke="none" cx="40" cy="60" r="3">
          <animateTransform
             attributeName="transform"
             dur="1s"
             type="translate"
             values="0 15 ; 0 -15; 0 15"
             repeatCount="indefinite"
             begin="0.1"/>
        </circle>
        <circle fill="#08ac67" stroke="none" cx="50" cy="60" r="3">
          <animateTransform
             attributeName="transform"
             dur="1s"
             type="translate"
             values="0 10 ; 0 -10; 0 10"
             repeatCount="indefinite"
             begin="0.2"/>
        </circle>
        <circle fill="#08ac67" stroke="none" cx="60" cy="60" r="3">
          <animateTransform
             attributeName="transform"
             dur="1s"
             type="translate"
             values="0 5 ; 0 -5; 0 5"
             repeatCount="indefinite"
             begin="0.3"/>
        </circle>
      </svg>
      <p>Please wait ...</p>
    </div>


   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'assets/js/moment.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'assets/js/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap-notify.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
     <script type="text/javascript" src="{% static 'assets/js/jquery-customselect.js' %}"></script>
    <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();

    $(window).on("load", function (e) {

      $('.svgLoaderCon').fadeOut();
      $('body').removeClass('loaderOn');

    });

    getNotificationCount()
    function getNotificationCount() {
    $('.innerWrapper').addClass('loading')
    $.post('{% url 'etl_robot_app:notification_count' %}', {
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      function(data) {
      $('.innerWrapper').removeClass('loading')
        if (data.status) {
          if(data.data['notification']==0)
            {
            $('.notification_count,.noti_Count').html('0')
            $.notify({
          icon: 'fas fa-info-circle',
            message: "No <b>Notification</b> to show."

          },{
            type: 'info',
            timer: 2000
        });



            }
          else
            $('.notification_count,.noti_Count').html(data.data['notification'])
        }
        else
        {
         $.notify({
          icon: ' fas fa-times-circle',
            message: data.message

          },{
            type: 'danger',
            timer: 2000
        });

        }
      })

}
      {% block script %}

{% endblock %}
  </script>

  </body>
</html>
