<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>ETL Robot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

  .container {
    margin: 0 auto;
    width: 640px;
  }
  p {
    word-break: break-all;
  }

  @media (max-width: 640px) {
  .container{width:90% !important; padding: 0 5%;}
  .white-box {padding: 20px !important;}
  }

  </style>

</head>

  <body style="background:#f7f7f7; margin:0;">
{% autoescape off %}
<div class="container">
  <table style="margin:auto;">

    <!--logo-space-->
    <tr style="text-align:center; margin: 30px auto; text-align: center;  width: 100%;">
        <td style="padding: 22px 0;text-align: center;">
          <a href=""><img src="http://sperico.com:8095/media/images/logo-etl.svg" alt=""  style="height: 46px; max-width:100%;"/></a>
        </td>
    </tr>

    <!--text-content-->
    <tr class="" style=" width:100%; max-width:50px; border:1px solid #c6dbe9;  background:#fff; -webkit-box-shadow: 0px 0px 5px #c0c8ca;-moz-box-shadow: 0px 0px 5px #c0c8ca;box-shadow: 0px 0px 5px #c0c8ca;">
        <td class="white-box" style="padding:50px;">

          <p style="color:#707070; font:16px/26px arial; text-align:justify; word-break: break-all;">
          Dear {{user.first_name}},<br /><br />
          Welcome to <b>ETL Robot !</b> In order to get full access on your account in ETL Robot
          we would like to click the link bellow to verify your email
          </p>

          <!--verify link-->
          <p style="text-align:center; word-break: break-all;"> <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
" style="margin:40px auto; text-decoration:none; font:600 16px/26px arial;color: #08ac67; border: 2px solid #08ac67; display:inline-block; padding:10px 30px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;"> Verify your email address</a> </p>

          <p style="color:#707070; font:16px/26px arial; word-break: break-all;">
            You can also copy and paste below link to your browser if the above button does not works :</p>

            <p>
              <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
" style="color: #2196F3; display:inline-block; margin:25px 0; font:15px/22px arial; background:#f7f7f7; padding:10px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>
            </p>

            <p style="color:#707070; font:16px/26px arial; word-break: break-all;">
            Thanks for joining ETL Robot! You will enjoy working with us.<br /><br />

            Sincerely,<br />
            <span style="color: #08ac67; font:600 20px/26px arial;" >Team ETL Robot</span><br />
            <span style="font:600 16px/26px arial;" >www.etlrobot.com</span>
            </p>
          </td>
          <!--text-content ends here-->
        </tr>

        <tr>
          <td>
          <!--copyright-->
          <p style=" color: #777; font: 15px/25px arial;text-align: center;">
            © 2017 ETLrobot, LLC. Draper UT 84020
          </p>

          <p style="text-align: center; height: 25px; width: 100%; max-width: 350px; margin: 0px auto 50px;">
              <label style="text-align: left; background-image: url('http://sperico.com:8095/media/images/phone-icon.svg'); background-repeat: no-repeat; float: left; padding: 0px 15px 0px 23px; color: rgb(73, 73, 73); font: 14px/15px arial; margin: 0px 10px 0px 0px;"> + (0471) 4013112
              </label>

              <label style="text-align: left; background-repeat: no-repeat; background-image: url('http://sperico.com:8095/media/images/mail-icon.svg'); color: rgb(73, 73, 73); font: 14px/15px arial; float: right; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 30px;"> steve@etlrobot.com
              </label>
          </p>
          </td>
        </tr>
      </table>
    </div>
  {% endautoescape %}
  </body>
</html>
