{% extends 'base.html' %}
{% load static %}
{% block title %}Login | etlrobotsaas{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
     <div class="loginCon">
      <div class="loginCon_inner">


        <div class="loginMod">
          <div class="loginMod_h">
            <img src="{% static 'assets/img/logo-ETLRobot.png' %}">
          </div>
          <div class="container-fluid">
              {% if form.non_field_errors %}
    <span class='form-errors'>
        {% for error in form.non_field_errors %}
            <p style="color:red">{{ error }}</p>
        {% endfor %}
    </span>
{% endif %}
            <form action="" autocomplete="off" method="POST">
                {% csrf_token %}
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input id="email" type="text" class="form-control" name="username" value="" onkeyup="this.setAttribute('value', this.value);" onblur="this.setAttribute('value', this.value);" autocomplete="off">
                  <span class="floatingSpan">Email</span>
                  </div>
              </div>
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="password" type="password" class="form-control" name="password" value="" onkeyup="this.setAttribute('value', this.value);" onblur="this.setAttribute('value', this.value);" autocomplete="off">
                  <span class="floatingSpan">Password</span>
                  </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="useProxy" value="" data-parsley-multiple="useProxy" name="remember_me">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Remember me
                                </label>
                            </div>
              </div>
              <div class="form-group text-center btn-login-con">
                <button type="submit" class="btn btn-login btn-success">Sign In</button>
              </div>
              <div class="form-group text-center btn-login-con">
                <a class="link-d" href="{% url 'password_reset' %}">Forgot Password?</a>
              </div>
            </form>
          </div>
          <p class="loginMod_f">Don't have an account? <a class="link-d" href="{% url 'etl_robot_app:register' %}">Sign Up</a></p>
        </div>


      </div>

      {% block footer %}
        <p>Copyright © 2018 <a class="link-d" href="javascript: void(0)">ETL Robot.</a> All rights reserved.</p>
      {% endblock %}
    </div>



{% endblock %}
