{% extends 'base.html' %}
{% load static %}
{% block title %}Register | etlrobotsaas{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
<div class="loginCon">
      <div class="loginCon_inner">


        <div class="loginMod">
          <div class="loginMod_h">
            <img src="{% static 'assets/img/logo-ETLRobot.png' %}">
          </div>
          <div class="container-fluid">
              {% if error_message %}
    <span class='form-errors'>
            <p style="color:red">{{ error_message }}</p>
    </span>
{% endif %}
                          <span> {{ form.non_field_errors }}</span>
            <form action="" autocomplete="off" method="POST">
              {% csrf_token %}
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  {{form.email}}
                  <span class="floatingSpan">Email</span>
                  <span style="color:red"> {{ form.email.errors }}</span>
                  </div>
              </div>
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  {{form.first_name}}
                  <span class="floatingSpan">First Name</span>
                   <span style="color:red"> {{ form.first_name.errors }}</span>
                  </div>
              </div>
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  {{form.last_name}}
                  <span class="floatingSpan">Last Name</span>
                  <span style="color:red"> {{ form.last_name.errors }}</span>
                  </div>
              </div>
              <div class="form-group hasFloatingSpan">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-building"></i></span>

                  {{form.company}}
                  <span class="floatingSpan">Company</span>
                  <span style="color:red"> {{ form.company.errors }}</span>
                  </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                                <label>
                                   <input name="policy_accept" id="id_policy_accept"  type="checkbox">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    I agree to the <a class="link-d" href="javascript: void(0)">Terms of Use</a> and <a class="link-d" href="javascript: void(0)">Privacy Policy.</a>
                                </label>
                  <span style="color:red"> {{ form.policy_accept.errors }}</span>
                            </div>
              </div>
              <div class="form-group text-center btn-login-con">
                <button type="submit" class="btn btn-login btn-success" @click="submit">Register</button>
              </div>
            </form>
          </div>
          <p class="loginMod_f">Allready have an account? <a class="link-d" href="{% url 'etl_robot_app:login' %}">Sign In</a></p>
        </div>


      </div>

      {% block footer %}
        <p>Copyright © 2018 <a class="link-d" href="javascript: void(0)">ETL Robot.</a> All rights reserved.</p>
    {% endblock %}
    </div>

{% endblock %}
{% block script %}
$('#useProxy').removeAttr("required")
   {% endblock %}