
@mixin box-shadow($boxshadow) {
	  -webkit-box-shadow: $boxshadow;
	     -moz-box-shadow: $boxshadow;
	      -ms-box-shadow: $boxshadow;
	          box-shadow: $boxshadow;
}
@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	     -moz-border-radius: $radius;
	      -ms-border-radius: $radius;
	          border-radius: $radius;
}
@mixin background-size($bgval){
		-webkit-background-size: $bgval;
	     -moz-background-size: $bgval;
	      -ms-background-size: $bgval;
	          background-size: $bgval;
}
@mixin all-transition($tranval){
	-webkit-transition: $tranval;
	    -moz-transition: $tranval;
	    -o-transition: $tranval;
	    transition: $tranval;
}
