$box-shadow-l1: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
$main-bg: #eceff1;

$p-color: #08ac67;
$p-color-hov: #12a958;

$left-nav-bg: #34404e;
$top-nav-bg: #ffffff;

$link-color-p : #03a9f4;

$color-g1: #bdbdbd;
$color-g2: #777777;
$color-g3: #555555;
$main-font: "Roboto","Helvetica Neue",Arial,sans-serif;
