@import 'variables.scss';
@import 'mixins.scss';

.loginCon{
		background: $main-bg;
		min-height: 100vh;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
    	justify-content: center;
    	background: url(../img/background-pattern-vector.svg) no-repeat center center;
    	@include background-size(cover);
	}
	.loginCon_inner{
		display: flex;
		width: 100%;
		align-items: center;
    	justify-content: center;
    	flex-grow: 1;
    	flex-direction: column;
	}
	.loginMod{
		width: 100%;
		max-width: 400px;
		background: #fff;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
		margin-right: 15px;
		@include box-shadow($box-shadow-l1);
		@include border-radius(2px);
	}
	.loginMod{
		.container-fluid{
			padding: 35px 25px 15px;
		}
	}
	.loginMod{
		.loginMod_h{
			min-height: 90px;
			text-align: center;
			line-height: 82px;
			background: $p-color;
		}
		.loginMod_h{
			img{
				width: 100%;
				max-width: 225px;
				line-height: 90px;
				height: auto;
				display: inline-block;
			}
		}
		.form-group{
			margin-bottom: 30px;
		}
		.checkbox{
			padding-left: 21px;
			cursor: pointer;
		}
		.btn{
			&.btn-login{
				text-transform: uppercase;
				padding-left: 25px;
				padding-right: 25px;
				padding-top: 9px;
				padding-bottom: 9px;
				font-size:  0.85rem;
				@include box-shadow($box-shadow-l1);
			}
		}
		.link-d{
			font-size: 0.75rem;
		}

	}
	.loginMod{
		.input-group-addon{
			color: $color-g1;
		}
		input{
			&.form-control{
				border-left: none;
				border-top: none;
				border-right: none;
				font-size: 0.85rem;
				@include border-radius(0px);
				color: $color-g3;
				font-weight: 500;
			}

		}
		input.form-control:focus{
			outline: none;
			box-shadow: none;
		}
		.form-group{
			&.btn-login-con{
				margin-bottom: 15px;
			}
		}
	}
	
	@media (max-width: 767px){
		.loginMod {
			input{
				&.form-control{
					border-left: none;
					border-top: none;
					border-right: none;
					font-size: 1rem;
				}
			}
		}
		.loginCon_inner{
			padding-left: 30px;
			padding-right: 30px;
		}
		.loginMod{
			.btn{
				&.btn-login{
					font-size: 1rem;
				}
			}
		}
		.loginMod{
			.link-d{
				font-size: 0.9rem;
			}
		}

	}
