@import 'variables.scss';
@import 'mixins.scss';
@import 'nav.scss';

html{
	min-height: 100%;
}
body{
	min-height: 100vh;
	font-family: $main-font;
	font-size: 0.85rem;
	color: $color-g2;
	min-width: 320px;
}
.input-group-addon{
	padding: 12px 5px 0px;
}
.btn{
	@include border-radius(2px);
}
.btn-success{
	background: $p-color;
	border-color: $p-color;
}
.btn-success{
	&:hover{
		background: $p-color-hov;
		border-color: $p-color-hov;
	};
}


.checkbox{
    label{
    	cursor: pointer;
    	color: $color-g1;
    }
}

.checkbox {
	label:after{
			content: '';
			display: table;
			clear: both;
	}
}
.checkbox {
	.cr{
		position: relative;
	    display: inline-block;
	    border: 1px solid #a9a9a9;
	    border-radius: 1px;
	    width: 16px;
	    height: 16px;
	    float: left;
	    text-align: center;
	    margin-right: .5em;
	    margin-top: 2px;
	}
}
.checkbox{
	.cr{
		.cr-icon{
			color: $p-color;
    		line-height: 14px;
		}
	}
}
.checkbox{
	label{
		input[type="checkbox"]{
			display: none;
		}
	}
}

.checkbox{
	label{
		i{
			position: absolute;
		    left: 0px;
		}
	}
}
.checkbox{
	label input[type="checkbox"]+.cr>.cr-icon{
		opacity: 0;
	}
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}
.link-d{
	color: $p-color;
}
.link-d{
	&:hover{
		text-decoration: none;
		color: $p-color-hov;
	}
}

.form-group{
	&.hasFloatingSpan{
    	position: relative;
	}
}

.form-group span.floatingSpan{
    position: absolute;
    top: 14px;
    left: 32px;
    font-size: 13px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 5px;
    text-transform: uppercase;
    transition: all 0.25s ease-In-Out;
    z-index: 0;
}
.form-group.hasFloatingSpan input[type="text"], .form-group.hasFloatingSpan input[type="password"], .form-group.hasFloatingSpan input[type="email"], .form-group.hasFloatingSpan textarea{
    background: transparent;
    position: relative;
    margin-top: 18px;
    padding-top: 0px;
    z-index: 1;
}
.form-group input[type="text"]:not([value=""]) + span.floatingSpan, 
.form-group input[type="text"]:focus + span.floatingSpan,
.form-group input[type="password"]:not([value=""]) + span.floatingSpan, 
.form-group input[type="password"]:focus + span.floatingSpan,
.form-group input[type="email"]:not([value=""]) + span.floatingSpan, 
.form-group input[type="email"]:focus + span.floatingSpan,
.form-group textarea:not([value=""]) + span.floatingSpan,  
.form-group textarea:focus + span.floatingSpan{
    top: -3px;
    font-size: 11px;
    z-index: 0;
}

input:-webkit-autofill {
    
}



.mainCon{
		background: $main-bg;
		min-height: 100vh;
		overflow-y: auto;
		display: flex;
		/*flex-direction: column;*/
		padding-left: 256px;
		@media (max-width: 993px){
			padding-left: 0px;
		}
}
.mainCon_inner{
	display: flex;
	flex: 1;
	min-height: 100%;
	flex-direction: column;
	/*align-items: center;
    justify-content: center;*/
    position: relative;
}
.mainCon_wrapper{
	@extend .mainCon_inner;
	flex-grow: 1;
	min-height: 50px;
	/*background: white;*/
}




.loginFooter{
		width: 100%;
		background: rgba(0,0,0, 0.05);
		border-top: 1px solid #ccc;
		text-align: center;
		padding: 9px 0px;
	}
	.loginFooter{
		p{
			display: inline-block;
			margin-bottom: 0px;
			font-size: 0.8rem;
		}
	}
	.loginMod_f{
		text-align: center;
		padding: 15px;
		font-size: 0.9rem;
		border-top: 1px solid #eee;
		margin-bottom: 0px;
	}
	.loginMod_f{
		.link-d{
			font-size: 0.9rem;
		}
}
.innerWrapper{
	display: flex;
	padding: 10px 10px 0;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}
.navbar-default{
	min-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    display: flex;
}


.dash_card_nobg{
	padding: 7px 10px;
}
.dash_card_nobg{
	.dash_title{
		display: flex;
		padding: 5px 5px 7px;
		border-bottom: 2px solid #dcdee0;
		& h3{
			font-family: $main-font;
			font-weight: 400;
			font-size: 22px;
			color:  #445263;
		}
	}
	.dash_body{
		padding: 20px 5px;

	}
}


.dash_card{
	background: #ffffff;
	padding: 0px 20px;
	margin-bottom: 25px;
	border: 1px solid #E6E9ED;
}
.dash_card{
	.dash_title{
		display: flex;
		padding: 15px 0px;
		justify-content: space-between;
		border-bottom: 2px solid #dcdee0;
		& h3{
			font-family: $main-font;
			font-weight: 400;
			font-size: 18px;
			color:  #445263;
			margin-bottom: 0px;
		}
		& .btn-menu{
			background: none;
			border: none;
			color: #999;
			cursor: pointer;
			opacity: 0.75;
			font-size: 22px;
			height: 22px;
			&:focus{
				outline: none;
				box-shadow: none;
			}
			&:hover{
				opacity: 1;
			}
		}
	}
	.dash_body{
		padding: 20px 0px;

	}
}
.dropdown-menu{
	&.drop-right{
		left: auto !important;
		top: 8px !important;
		right: 0px !important;
	}
	& .dropHead{
		color: #999;
		border-bottom: 1px solid #eee;
		padding: 2px 15px 5px;
		margin-bottom: 10px;
		display: block;
	}
}


.navbar-right{
	.dropdown-menu{
		right: 0;
		left: auto;
	}
}


.chart_con {
	height: 300px;
 }

.dash_box{
	height: 140px;
	background: #fff;
	@include box-shadow(0px 0px 2px 0px rgba(0,0,0,0.15));
	display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
	justify-content: center;


	& h3{
		font-weight: 400;
		font-size: 36px;
		color: #445263;
		margin-top: 10px;
	}
	& p{
		font-size: 15px;
		font-weight: 300;
		color: #777777;
	}
	&.notifi{
		background: $p-color;
		color: #ffffff;
	}
	&.notifi h3{
		color: #ffffff;
	}
	&.notifi p{
		color: #ffffff;
	}
}

.table{
	& td{
		padding-top: 4px;
		padding-bottom: 4px;
		vertical-align: middle;
	}
	& th{
		border-top: none;
		font-weight: 500;
	}
}
.badge{
	font-weight: 400;
	font-size: 13px;
}
.badge-success{
	background: #08ac67;
}
.tname{
	font-size: 14px;
	color: $link-color-p;
	font-weight: 500;
	& img{
		width: auto;
		height: 36px;
		display: inline-block;
		margin-right: 5px;
	}
	& span{
		&.name{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&:hover{
		text-decoration: none;
		opacity: 0.85;
		color: $link-color-p;
	}
}



.daterangepicker{
	&.opensright{
		left: auto !important;
		right: 35px !important;
	}
}

.daterangepicker{
	&.opensright{
		&:before{
			right: 9px;
    		left: auto;
		}
	}
}

.userDownAngle{
	opacity: 0.5;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.daterangepicker{
	&.opensright{
		&:after{
			right: 9px;
    		left: auto;
		}
	}
}

.date_r_i{
	position: absolute;
    left: 15px;
}
.form-control{
	border-radius: 0px;
	&.daterange{
		min-width: 250px;
		font-size: 14px;
	}
	&:focus{
		outline: 0;
		box-shadow: none;
	}
}
.form-group{
	&.has_icon{
		position: relative;
	}
	& .form-control{
		padding-left: 35px;
		padding-right: 20px;
	}
	& .caret {
	    position: absolute;
	    right: 10px;
	    display: inline-block;
	    width: 0;
	    height: 0;
	    margin-left: 2px;
	    vertical-align: middle;
	    border-top: 4px dashed;
	    border-top: 4px solid\9;
	    border-right: 4px solid transparent;
	    border-left: 4px solid transparent;
	}
}
.dash_title{
	.label_xl{
		font-size: 16px;
		padding-right: 15px;
	}
}
.top_nav_con{
	& .navbar-brand{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 22px;
		color:  #445263;
		padding: 0px;
		margin-bottom: 0px;
		vertical-align: middle;
	}
	& .navbar-toggle{
		border: 0;
		background: none;
		font-size: 26px;
		color:  #445263;
		vertical-align: middle;
		cursor: pointer;
		margin-right: 15px;
		&:focus{
			outline: 0;
		}
		&:hover{
			color: $p-color;
		}
	}
}

.nav_link_user{
	color: #777;
}

ul{
	li{
		&:last-child{
			& .nav_link_user{
				border-right: 1px solid #eee;
				/*padding-right: 40px;*/
			}
		}
	}
}

.nav_link_user{
	vertical-align: middle;
	min-height: 59px;
	border-left: 1px solid #eee;
	transition: all 0.25s ease-In-Out;
	& span.img {
		width: 36px;
	    height: 36px;
	    line-height: 36px;
	    text-align: center;
	    display: inline-block;
	    font-size: 20px;
	   /* background: $p-color;*/
	    vertical-align: middle;
	    /*color: #fff;*/
	    border-radius: 50%;
	}
	& span.name{
		display: inline-block;
		vertical-align: middle;
	}
	&.dropdown-toggle{
		padding-right: 30px;
	}
	&.dropdown-toggle::after {
	   /* display: inline-block;
	    position: absolute;
	    top: 14px;
    	right: 25px;
	    font-family: FontAwesome\5 Free;
	    margin-left: .255em;
	    vertical-align: middle;
	    content: "\f107";
	    border: none;
	    font-size: 18px;*/
	}
	&:hover{
		color: #777;
		background: whitesmoke;
	}
}
.mainCon_wrapper{
	& .navbar{
		padding: 0rem 1rem;
	}
}
.top_nav_con{
	min-height: 59px;
}

.dropdown-menu:before {
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: -11px;
}
.dropdown-menu:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: -10px;
}
.userDropDown{
	& a.dropdown-item{
		font-size: 14px;
		color: #777;
	}
	& a.dropdown-item.signOut{
		border-top: 1px solid #eee;
		padding: 10px 20px;
		color: #333;
	}
}