{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
<div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-13 ">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content listing_section">

                        <div class="section_title flex-head">
                          <div class="headIcon">
                            <img src="media/image/integrations/pinterest_300sq.png" alt="">
                          </div>
                          <div class="col_flex_v_c">

                            <h3>Select {{account_type}}</h3>
                            <p>Select the {{account_type}} account you would like to track.</p>
                          </div>
                        </div>

<form method="post" >
  {% csrf_token %}
                            <input type="hidden" name="source_name" value="{{account_type}}">
                        <div class="content table-responsive table-full-width">
                        <table class="table table-striped table_L_C">
                          <thead>
                            <th>BOARD ID</th>
                            <th>NAME</th>

                            <th style="width: 150px; max-width: 150px; "  class="text-center">TRACKED</th>
                          </thead>
                          <tbody>
                          {% for boards in details.data %}
                            <tr data-toggle="tooltip" data-placement="top" title="{% gettooltip_message boards.id account account_type %}">
                              <td>
                                {{boards.id}}
                              </td>
                              <td>
                                <span>{{boards.name}}</span>
                              </td>
                              <td class="text-center">
                                <label class="">
                                  <input type="checkbox" value="{{boards.id}}"  name="checkbox">
                                  <span class="rad_checkmark"></span>
                                </label>
                              </td>
                            </tr>

                            {% endfor %}

                          </tbody>
                        </table>
                      </div>
                        <hr>

                        <br>

                        <div class="footer">
                          <div class="float-left backBtn">
                            <a class="link-d" href="{% url 'etl_robot_app:dashboard'%}">
                              <!-- <span class=""><i class="fas fa-angle-left"></i></span> --> Back to DASHBOARD
                            </a>
                          </div>

                          <button type="submit" class="btn btn-success btn-fill float-right" onclick="errorNotification('top','right', 'This is your message')"><span class="isLoaded">Authorise</span></button>

                        </div>
                        <div class="clearfix"></div>


</form>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
{% endblock %}
