{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
 <div class="container-fluid">
     {% if message %}
     <p style="color:red">{{message}}</p>
     {% endif %}
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-12 max1090">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content listing_section">

                        <div class="section_title flex-head">
                          <div class="headIcon">
                            <img src="media/{{source.image_url}}" alt="">
                          </div>
                          <div class="col_flex_v_c">

                            <h3>Select Tables</h3>
                            <p>Please select the tables you would like to replicate. For more information click <a class="link-d" href="javascript: void(0)">here</a></p>
                          </div>
                        </div>

                      <form method="post">
                          {% csrf_token %}
                        <div class="content table-responsive">
            							<table class="table table-striped table_L_C table_check_c table_b_b">
            							  <thead class="thead-dark">
                              <tr>
                								<th style="max-width: 40px; width: 40px;">
                									<div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="tSelectAll" value="" checked>
                                         <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                      </label>
                                    </div>
                								</th>
                								<th>Table</th>
                                <th>Description</th>
                              </tr>
            							  </thead>
            							  <tbody>
                                          {% if data_source_set %}
                                          {% for source_set in data_source_set %}
              								<tr>
              								  <td>
              									  <div class="checkbox">
                                    <label>
                                      <input name ="dataset_id" class="table_b_cb" type="checkbox" value="{{source_set.id}}" >
                                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                  </div>
              								  </td>
              								  <td class="text-left">
                                                  {{source_set.name}}
              								  </td>
                                <td>
                                  {{source_set.description}}
                                </td>
              								</tr>
                                          {% endfor %}
                                          {% endif %}



            							  </tbody>
            							</table>
            						</div>








                        <hr>

                        <br>

                        <div class="footer">
                          <div class="float-left backBtn">
                            <a class="link-d" href="{% url 'etl_robot_app:dashboard'%}">
                              <!-- <span class=""><i class="fas fa-angle-left"></i></span> --> Back to DASHBOARD
                            </a>
                          </div>

                          <button type="submit" class="btn btn-success btn-fill float-right"><span class="isLoaded">Continue</span></button>

                        </div>
                        <div class="clearfix"></div>

                      </form>


                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


{% endblock %}
{% block script %}
$(document).ready(function(){
        tSelectAll();
        $("#tSelectAll").change(function(){
          tSelectAll();
        });
        tDetSelect();
})

        function tSelectAll(){
          if($("#tSelectAll").prop('checked') != true){
            $(".table_b_b tbody input[type='checkbox']").prop('checked', false);
          }
          else{
            $(".table_b_b tbody input[type='checkbox']").prop('checked', true);
          }
        }

        function tDetSelect(){
          $(".table_b_cb").change(function(){
            $this = $(this);
            var localChkCount =  $('.table_b_b tbody .table_b_cb').length;
            var localChkdCount =  $('.table_b_b tbody .table_b_cb:checked').length;

            if(localChkdCount == localChkCount){
                $("#tSelectAll").prop('checked', true);
            }
            else{
              $("#tSelectAll").prop('checked', false);
            }

          });
        }
{% endblock %}