{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
  <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content table-responsive table-full-width listing_section">

                        <div class="section_title">
                          <h3>Start by adding an integration source</h3>

                          <p>
                            Connecting to your source is as simple as a login process. If you need help, you can <a class="link-d" href="javascript: void(0);">invite</a> someone from your team.
                          </p>
                        </div>


                        <section class="social_b_sec">
                          <div class="social_b_sec_h">
                            <h4>DATA SOURCES</h4>
                            <p>
                              Select a source to start with.
                            </p>

                            <ul class="box_sort category-filter">
                              <li class="active">
                                <a href="javascript: void(0);" class="category-button" data-filter="all">All</a>
                              </li>
                              {% for cat in category %}
                              <li>
                                <a href="javascript: void(0);" class="category-button" data-filter="{{cat.name}}">{{cat.name}}</a>
                              {% endfor %}
                            </ul>

                          </div>

                          <div class="social_b_sec_b_c">
                            {% for src in source %}
                            <div class="inner_box_c filter {% classActivation src.id src_catgory %}" id="{{src.id}}">
                              <a href="{% getPageUrl src.name %}" class="inner_box ripplelink">
                                <img src="media/{{src.image_url}}" alt="">
                                  <span class="b_badge">
                                  {% if src.is_beta %}

                                  Beta
                                    {% endif %}
                                  {% if src.is_coming_soon %}
                                  Soon
                                  {% endif %}
                                </span>
                                {% if src.is_premium %}
                                <span class="p_badge">
                                  Premium

                                </span>
                                {% endif %}
                                <span class="box-shadow_btm"></span>
                              </a>
                              <a class="detailsLink" href="javascript: void(0);">
                                <span>Details</span>
                              </a>
                            </div>
                            {% endfor %}




                          </div>

                        </section>

                        <section class="social_b_sec">
                          <div class="social_b_sec_h">
                            <h4>DATA TARGETS</h4>
                            <p>
                              Know about the destinations to replicate your data.
                            </p>
                          </div>

                          <div class="social_b_sec_b_c">
                             {% for tar in target %}
                            <div class="inner_box_c" id="{{tar.id}}">
                              <a href="javascript: void(0)" class="inner_box ripplelink">
                                <img src="media/{{tar.image_url}}" alt="">
                              </a>
                               <a class="detailsLink" href="javascript: void(0);">
                                <span>Details</span>
                              </a>
                            </div>
                             {% endfor %}
                          </div>

                        </section>


                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

{% endblock %}
{% block script %}
  $(document).ready(function(){

        $('#daterange').daterangepicker({
          autoUpdateInput: false,
          orientation: 'right',
          locale: {
            cancelLabel: 'Clear'
          }
        });

        $('#daterange').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
        });



          (function ( $ ) {
            $.fn.categoryFilter=function(selector){
              this.click( function() {
                var categoryValue = $(this).attr('data-filter');

                $this= $(this);
                $this.closest('ul').find('li').each(function(){
                  $(this).removeClass('active');
                });
                $this.closest('li').addClass('active')

                if(categoryValue=="all") {
                  $('.filter').show(1000);
                } else {
                  $(".filter").not('.'+categoryValue).hide('3000');
                  $('.filter').filter('.'+categoryValue).show('3000');
                }
              });
            }
          }( jQuery ));


          $('.category-filter .category-button').categoryFilter();




      });
  $(function(){
      var ink, d, x, y;
      $(".ripplelink").click(function(e){
        if($(this).find(".ink").length === 0){
            $(this).prepend("<span class='ink'></span>");
        }

        ink = $(this).find(".ink");
        ink.removeClass("animate");

        if(!ink.height() && !ink.width()){
            d = Math.max($(this).outerWidth(), $(this).outerHeight());
            ink.css({height: d, width: d});
        }

        x = e.pageX - $(this).offset().left - ink.width()/2;
        y = e.pageY - $(this).offset().top - ink.height()/2;

        ink.css({top: y+'px', left: x+'px'}).addClass("animate");
    });
    });
{% endblock %}