{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %} Integration| etlrobotsaas{% endblock %}
{% block navtitle %}Integration{% endblock %}
{% block content %}

            {% for src in source %}
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-12 max1090">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content listing_section">

                        <div class="section_title flex-head">
                          <div class="headIcon">
                            <img src="media/{{src.image_url}}" alt="">
                          </div>
                          <div>
                            <h3>Configure Your {{src.name}} Integration</h3>

                            <p>
                              Check out the <a class="link-d" href="javascript: void(0);">documentation</a> if you need some help setting up your {{src.name}} Integration. If you're not sure about what to input here, feel free to <a class="link-d" href="javascript: void(0);">invite a member</a> of your team to help.
                            </p>
                          </div>
                        </div>

                        <form action="{% getFormAction src.name %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{src.id}}" name="source">
                        <section class="social_b_sec">
                          <div class="social_b_sec_h">
                            <h4>Sync Historical Data</h4>
                            <p>
                              This will determine the Start date of your {{src.name}} integration. Data equal to or newer than this date will be replicated from your {{src.name}} integration to your ETLrobot Data warehouse. Learn more about our {{src.name}} integration <a class="link-d" href="javascript: void(0);">here.</a>
                            </p>
                          </div>



                          <div class="form_set" id="form_add_account customStartDateCon">

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="useProxy" value="{{src.source_start.id}}" checked="checked" name="previous_integration">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            Use integration default <b>{{src.source_start.name}}</b>
                                        </label>
                                    </div>


                                    <div class="row customStartDate">
                                        <div class="col-lg-8 col-md-10 col-sm-12 col-xl-6">
                                            <div class="form-group form-group-c">
                                                <label>Start Date Time</label>
                                                <div class="input-group">
                                                  <input type="text" name="previous_year_date" id="daterange" class="form-control form-control-c" placeholder="" value="" autocomplete="off"  onkeyup="this.setAttribute('value', this.value);" onblur="this.setAttribute('value', this.value);">

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>



                        </section>



                        <section class="social_b_sec">
                          <div class="social_b_sec_h">
                              <h4>Replication Frequency</h4>
                              <p>
                                This allows you to set how often we attempt to replicate data from your {{src.name}} database to your ETLrobot data warehouse.
                                <a class="link-d" href="javascript: void(0);">Learn more</a> about replication frequency.
                              </p>
                          </div>



                          <div  class="form_set" id="form_add_account">

                                    <div class="row">
                                        <div class="col-lg-8 col-md-10 col-sm-12 col-xl-6">
                                            <div class="form-group">
                                                <label>Select replication frequency</label>
                                                <select class="form-control" id="package_list" autocomplete="off" data-parsley-required name="frequency">
                                                  {% for freq in frequency %}
                                                    {% if src.source_freq.id == freq.id %}
                                                    <option value="{{freq.id}}" selected="selected">{{freq.short_name}}(Default)</option>
                                                    {% else %}
                                                    <option value="{{freq.id}}">{{freq.short_name}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>



                                        </div>
                                    </div>

                                    <p class="note">
                                      We will attempt to replicate data from {{src.name}} to your warehouse every hour. <a class="link-d" href="javascript: void(0);">Learn more</a> about replication frequency.
                                    </p>

                                    <!-- <div class="footer text-right">
                                        <div class="stats pull-left">
                                            <a href="dashboard.html">
                                                <span class="backBtn"><i class="pe-7s-left-arrow"></i></span> Back to DASHBOARD
                                            </a>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-fill " onclick="errorNotification('top','right', 'This is your message')"><span class="isLoading"><i class="fa fa-spinner fa-spin"></i>Please Wait</span><span class="isLoaded">Add Account</span></button>
                                    </div> -->
                                    <div class="clearfix"></div>

                                </div>



                        </section>

                        {% if additional_option %}
                        <section class="social_b_sec">
                          <div class="social_b_sec_h">
                              <h4>Additional Options</h4>
                              {% for option in additional_option %}
                              <p>
                                {{option.custom_question.question}}
                              </p>
                              {% endfor %}
                          </div>
                            <input type="hidden" value="{{option.custom_question.id}}" name="custom_ques_id">


                          <div  class="form_set" id="form_add_account">

                                    <div class="row">
                                        <div class="col-lg-8 col-md-10 col-sm-12 col-xl-6">
                                            {% if time_zone %}
                                            <div class="form-group">
                                                <label>Timezone</label>
                                                <select class="form-control standard custom-select" name=timezone" id="timezone" autocomplete="off" data-parsley-required>

                                                    {% for zone in time_zone %}
                                                    <option value="{{zone.zone_name}}">{{zone.zone_name}}</option>
                                                   {% endfor %}
                                                </select>
                                            </div>
                                                     {% endif %}
                                        </div>
                                    </div>

                                    <p class="note">
                                      We will attempt to replicate data from {{src.name}} to your warehouse every hour. <a class="link-d" href="javascript: void(0);">Learn more</a> about replication frequency.
                                    </p>

                                    <!-- <div class="footer text-right">
                                        <div class="stats pull-left">
                                            <a href="dashboard.html">
                                                <span class="backBtn"><i class="pe-7s-left-arrow"></i></span> Back to DASHBOARD
                                            </a>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-fill " onclick="errorNotification('top','right', 'This is your message')"><span class="isLoading"><i class="fa fa-spinner fa-spin"></i>Please Wait</span><span class="isLoaded">Add Account</span></button>
                                    </div> -->
                                    <div class="clearfix"></div>

                          </div>



                        </section>
                        {% endif %}




                        <hr>

                        <br>

                        <div class="footer">
                                        <div class="float-left backBtn">
                                            <a class="link-d" href="{% url 'etl_robot_app:dashboard'%}">
                                                <!-- <span class=""><i class="fas fa-angle-left"></i></span> --> Back to DASHBOARD
                                            </a>
                                        </div>

                                        <button type="submit" class="btn btn-success btn-fill float-right" onclick="errorNotification('top','right', 'This is your message')"><span class="isLoaded">Add Account</span></button>
                        </div>
                        <div class="clearfix"></div>
                        </form>



                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
{% endfor %}
{% endblock %}
{% block script %}
function toggleProxy(){
          if($("#useProxy").prop('checked') != false){

            $('.customStartDate').slideUp('fast');

          }
          else{
            $('.customStartDate').slideDown('fast');
          }
      }

      $(document).ready(function(){


        toggleProxy();
        $("#useProxy").change(function(){
          $this = $(this);
          toggleProxy();
          <!--$this.click();-->

        });


        $(function() {
          $("#timezone").customselect();
        });



        $('#daterange').daterangepicker({
          singleDatePicker: true,
          autoUpdateInput: false,
          orientation: 'left',
          },  function(chosen_date) {
  $('#daterange').val(chosen_date.format('YYYY-MM-DD'));
        });

        // $('#daterange').on('apply.daterangepicker', function(ev, picker) {
        //   $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        // });

        // $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
        //   $(this).val('');
        // });



          (function ( $ ) {
            $.fn.categoryFilter=function(selector){
              this.click( function() {
                var categoryValue = $(this).attr('data-filter');

                $this= $(this);
                $this.closest('ul').find('li').each(function(){
                  $(this).removeClass('active');
                });
                $this.closest('li').addClass('active')

                if(categoryValue=="all") {
                  $('.filter').show(1000);
                } else {
                  $(".filter").not('.'+categoryValue).hide('3000');
                  $('.filter').filter('.'+categoryValue).show('3000');
                }
              });
            }
          }( jQuery ));


          $('.category-filter .category-button').categoryFilter();




      });


    $(function(){
      var ink, d, x, y;
      $(".ripplelink").click(function(e){
        if($(this).find(".ink").length === 0){
            $(this).prepend("<span class='ink'></span>");
        }

        ink = $(this).find(".ink");
        ink.removeClass("animate");

        if(!ink.height() && !ink.width()){
            d = Math.max($(this).outerWidth(), $(this).outerHeight());
            ink.css({height: d, width: d});
        }

        x = e.pageX - $(this).offset().left - ink.width()/2;
        y = e.pageY - $(this).offset().top - ink.height()/2;

        ink.css({top: y+'px', left: x+'px'}).addClass("animate");
    });
    });


{% endblock %}