{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}No Data-Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
<div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-13 ">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content listing_section">
                      {% if error_message %}
    <span class='form-errors'>
            <p style="color:red">{{ error_message }}</p>
    </span>
{% endif %}
                        <div class="content table-responsive table-full-width">

                          <div class="error_mes_con">

                            <img src="{% static 'assets/img/not-found.svg' %}">

                            <article>
                              <h3 class="text-center">No {{account_type}} data found for this Account</h3>
                              <p class="text-center">Please try with Another <a class="link-d" href="{% getPageUrl account_type %}">{{account_type}} Account.</a></p>
                            </article>

                            <a href="{% url 'etl_robot_app:dashboard'%}" class="btn btn-success btn-fill" >
                              Back to Dashboard
                            </a>

                          </div>


                        </div>




                        <br>

                        <div class="clearfix"></div>




                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

{% endblock %}