{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}No Data-Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
 <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-13 ">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content listing_section">

                        <!-- <div class="section_title flex-head">
                          <div class="headIcon">
                            <img src="assets/img/fb_ads_300sq.png" alt="">
                          </div>
                          <div class="col_flex_v_c">

                            <h3>Select Your Page</h3>
                            <p>Select with Facebook page you would like to track.</p>
                          </div>
                        </div> -->


                        <div class="content table-responsive table-full-width">

                          <div class="error_mes_con successMesg">

                            <i class="anim">
                               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2"> <circle class="path circle" fill="none" stroke="#08ac67" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle> <polyline class="path check" fill="none" stroke="#08ac67" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline> </svg>
                            </i>

                            <article>
                              <h3 class="text-center">Success!</h3>
                              <p class="text-center">
                                Your data pipeline has been created and you are on your way to data stardom.
                              </p>
                            </article>

                            <p>
                              <a href="{% url 'etl_robot_app:integrations' %}" class="btn btn-success btn-fill" >
                                Add Another Integration
                              </a>
                            </p>


                            <a class="link-d" href="{% url 'etl_robot_app:dashboard'%}">Get back to home dashboard</a>

                          </div>


                        </div>




                        <br>

                        <div class="clearfix"></div>




                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

{% endblock %}