{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
  <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content table-responsive table-full-width listing_section">

                        <div class="section_title">
                          <h3>Select a destination for your data</h3>

                          <p>Choose from the options below, or <a class="link-d" href="javascript: void(0);">invite</a> someone from your team.
                          </p>
                        </div>

                        <section class="social_b_sec">
                          <div class="social_b_sec_h">
                            <h4>DATA TARGETS</h4>
                            <p>
                              Know about the destinations to replicate your data.
                            </p>
                          </div>

                          <div class="social_b_sec_b_c">
                             {% for tar in target %}
                            <div class="inner_box_c" id="{{tar.id}}">
                              <a href="{% getPageUrl tar.name %}" class="inner_box ripplelink">
                                <img src="media/{{tar.image_url}}" alt="">
                              </a>
                            </div>
                             {% endfor %}
                          </div>

                        </section>

                        <p>Choose from the options below, or <a class="link-d" href="javascript: void(0);">invite</a> someone from your team.
                          </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

{% endblock %}
{% block script %}
  $(document).ready(function(){

        $('#daterange').daterangepicker({
          autoUpdateInput: false,
          orientation: 'right',
          locale: {
            cancelLabel: 'Clear'
          }
        });

        $('#daterange').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
        });



          (function ( $ ) {
            $.fn.categoryFilter=function(selector){
              this.click( function() {
                var categoryValue = $(this).attr('data-filter');

                $this= $(this);
                $this.closest('ul').find('li').each(function(){
                  $(this).removeClass('active');
                });
                $this.closest('li').addClass('active')

                if(categoryValue=="all") {
                  $('.filter').show(1000);
                } else {
                  $(".filter").not('.'+categoryValue).hide('3000');
                  $('.filter').filter('.'+categoryValue).show('3000');
                }
              });
            }
          }( jQuery ));


          $('.category-filter .category-button').categoryFilter();




      });
  $(function(){
      var ink, d, x, y;
      $(".ripplelink").click(function(e){
        if($(this).find(".ink").length === 0){
            $(this).prepend("<span class='ink'></span>");
        }

        ink = $(this).find(".ink");
        ink.removeClass("animate");

        if(!ink.height() && !ink.width()){
            d = Math.max($(this).outerWidth(), $(this).outerHeight());
            ink.css({height: d, width: d});
        }

        x = e.pageX - $(this).offset().left - ink.width()/2;
        y = e.pageY - $(this).offset().top - ink.height()/2;

        ink.css({top: y+'px', left: x+'px'}).addClass("animate");
    });
    });
{% endblock %}