{% extends 'dashboardbase.html' %}
{% load static %}
{% block title %}Dashboard | etlrobotsaas{% endblock %}

{% block content %}
     <div class="dash_card_nobg">
              <div class="dash_title">
                <div class="col-sm-5">
                  <h3>Integration Summary</h3>
                </div>
                <div class="col-sm-7">
                  <div class="form-inline pull-right datePickerConTop">

                    <div class="form-group" style="margin-left: auto;">
                      <label class="label_xl">Replication Period</label>
                    </div>
                    <div class="form-group has_icon">
                        <!--<i class="fa fa-calendar glyphicon glyphicon-calendar date_r_i"></i>-->
                        <select class="form-control daterange" id="daterange" value="" placeholder="Select Daterange" >
                            {% for period in billing_period %}
                           <option value="{{ period.period_start|date:'Y-m-d'}}|{{period.period_end|date:'Y-m-d'}}">{{ period.period_start|date:'d/m/Y' }} - {{period.period_end|date:'d/m/Y'}}</option>
                             {% endfor %}
                        </select>
                        <!--<input class="form-control daterange" id="daterange" value="" placeholder="Select Daterange" />-->
                        <!--<b class="caret"></b>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="dash_body">
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="dash_box">
                        <p>Rows today</p>
                        <h3 id="rows_today">0</h3>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="dash_box">
                      <p>Rows this period</p>
                      <h3 id="rows_period">0</h3>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="dash_box">
                      <p>Active Integrations</p>
                      <h3 id="active_integration">0</h3>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="dash_box notifi">
                      <p>Active Notifications</p>
                      <h3 class="notification_count"></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-md-8">
                  <div class="dash_card">
                    <div class="dash_title">
                        <h3>Rows synced by day</h3>
                        <div class="dropdown" style="height: 22px;">
                          <button class="btn-menu" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                          </button>
                          <div class="dropdown-menu drop-right userDropDown" aria-labelledby="dropdown03">
                            <span class="dropHead">Print Chart</span>
                            <a class="dropdown-item" download="chart.png" id="png_download">Download PNG image</a>
                            <a class="dropdown-item" id="jpeg_download" download="chart.jpg" href="#">Download JPEG image</a>
                            <a class="dropdown-item" id ="download-pdf" href="#">Download PDF document</a>
                            <!--<a class="dropdown-item" id="svg_download" download="chart.svg" href="#">Download SVG vector image</a>-->
                          </div>
                        </div>
                    </div>
                    <div class="dash_body">
                      <div class="chart_con" id="bar_chart">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="dash_card">
                    <div class="dash_title">
                        <h3>Rows by Integration</h3>
                    </div>
                    <div class="dash_body">
                      <div class="chart_con" id="doghnut_char_div">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="dash_card">
                    <div class="dash_title">
                        <h3>Integrations</h3>
                    </div>
                    <div class="dash_body">
                      <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                          <thead>
                            <th>Name</th>
                            <th>Rows</th>
                            <th>Last Sync</th>
                            <th>Notification</th>
                            <th>Status</th>
                          </thead>
                          <tbody id ="integration_body">

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
{% endblock %}
{% block script %}
document.getElementById('download-pdf').addEventListener("click", downloadPDF);

 $(document).ready(function(){
var myChart=null;
getRowsCountToday()
getActiveIntegrations()
date_array = stringtoDateArray( $('#daterange').val())
if(date_array['message']==[])
{
 getRowsCountThisPeriod(date_arr['data'][0],date_arr['data'][1])
getDailyVolumeForAllIntegration(date_arr['data'][0],date_arr['data'][1])
getIntegrationSummary(date_arr['data'][0],date_arr['data'][1])
getIntegrationVolume(date_arr['data'][0],date_arr['data'][1])
}
else
{
console.log(date_array['message'])
}
$('#daterange').change(function()
{
             var date_arr = stringtoDateArray($(this).val())
             if(date_arr['message']==[])
                {
                    getRowsCountThisPeriod(date_arr['data'][0],date_arr['data'][1])
                    getDailyVolumeForAllIntegration(date_arr['data'][0],date_arr['data'][1])
                    getIntegrationSummary(date_arr['data'][0],date_arr['data'][1])
                    getIntegrationVolume(date_arr['data'][0],date_arr['data'][1])
                }
             else{
                     $.notify({
          icon: 'fas fa-times-circle',
            message:date_arr['message']

          },{
            type: 'danger',
            timer: 2000
        });
                    }
})
        <!--$('#daterange').daterangepicker({-->
          <!--autoUpdateInput: false,-->
          <!--orientation: 'right',-->
          <!--locale: {-->
            <!--cancelLabel: 'Clear'-->
          <!--}-->
        <!--});-->

        <!--$('#daterange').on('apply.daterangepicker', function(ev, picker) {-->
          <!--$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));-->
        <!--});-->

        <!--$('#daterange').on('cancel.daterangepicker', function(ev, picker) {-->
          <!--$(this).val('');-->
        <!--});-->

      });
function stringtoDateArray(dateValue)
{
date_arr=[];
if(dateValue=="")
{
date_arr['data']="";
date_arr['message']="Kindly Select a date range";
}
else
{
date_arr['data'] = dateValue.split('|');
date_arr['message']="";

}
return date_arr;
}


function getRowsCountThisPeriod(period_start_utc, period_end_utc) {
  if (period_start_utc != "" && period_end_utc != "") {
    $('.innerWrapper').addClass('loading')
    $.post('{% url 'etl_robot_app:period_row_count' %}', {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        period_start_utc: period_start_utc,
        period_end_utc: period_end_utc
      },
      function(data) {
         $('.innerWrapper').removeClass('loading')
        if (data.status) {
          if(data.data['rows']==null)
            {
            $('#rows_period').html('0');
            $.notify({
          icon: 'fas fa-info-circle',
            message: "No <b>rows</b> synced."

          },{
            type: 'info',
            timer: 2000
        });
            }
          else
            $('#rows_period').html(data.data['rows'])
        }
        else
        {
        $.notify({
          icon: ' fas fa-times-circle',
            message: "Some error occured"

          },{
            type: 'danger',
            timer: 2000
        });
        }
      })
  }
}

function getRowsCountToday() {
$('.innerWrapper').addClass('loading')
    $.post('{% url 'etl_robot_app:today_row_count' %}', {
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      function(data) {
$('.innerWrapper').removeClass('loading')
        if (data.status) {
          if(data.data['rows']==null)
            {
            $('#rows_today').html('0')
             $.notify({
          icon: 'fas fa-info-circle',
            message: "No <b>rows</b> synced today."

          },{
            type: 'info',
            timer: 2000
        });
            }
          else
            $('#rows_today').html(data.data['rows'])

        }
        else
        {
         $.notify({
          icon: ' fas fa-times-circle',
            message: "Some error occured"

          },{
            type: 'danger',
            timer: 2000
        });
        }
      })

}

function getDailyVolumeForAllIntegration(period_start_utc, period_end_utc)
{
$('.innerWrapper').addClass('loading')
         var data = { csrfmiddlewaretoken: '{{ csrf_token }}',"period_start_utc":period_start_utc, "period_end_utc": period_end_utc};
     $.ajax({
         url: '{% url 'etl_robot_app:get_daily_volume' %}',
         type: 'POST',
         dataType : "json",
         data: data,
         async: false,
         beforeSend: function () {
         },
         success:function(data){
            $('.innerWrapper').removeClass('loading')
            if(data.status)
             displayColumnChart(data.data, period_start_utc, period_end_utc);
            else
              $.notify({
          icon: ' fas fa-times-circle',
            message: "Some Error Occured"

          },{
            type: 'danger',
            timer: 2000
        });

         }
     });
}


function displayColumnChart(data,period_start_utc, period_end_utc){
     var date = [];
     var rows = [];
    console.log(data.length)
     $('#bar_chart').html('<canvas id="myChart" style=""></canvas>');
var backgroundColor = 'white';
Chart.plugins.register({
    beforeDraw: function(c) {
        var ctx = c.chart.ctx;
        ctx.fillStyle = backgroundColor;
        ctx.fillRect(0, 0, c.chart.width, c.chart.height);
    }
});
     $.each( data, function( key, value ) {
         date.push(key);
         rows.push(parseInt(value));
     });
    var ctx = document.getElementById("myChart").getContext('2d');
     var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: date,
            datasets: [{
                  data: rows,
                  label: "Rows synced",
                  backgroundColor: "rgba(39, 195, 223, 0.75)",
                  borderColor: "rgba(39, 195, 223, 1)",
                }
              ]
        },

        options: {
            responsive: true,
            maintainAspectRatio: false,
            exportEnabled: true,
            scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                      }
                  }],
                  xAxes: [{
                display:true,
           barPercentage: 0.8,
           categoryPercentage:0.6,
           ticks: {
                      autoSkip:false


                  }
       }]
              },
        animation: {
                onComplete: function(animation){
 <!--ctx.fillStyle='white';-->

<!--ctx.drawImage(myChart,0,0);-->
                    document.querySelector('#png_download').setAttribute('href', document.getElementById("myChart").toDataURL("image/png"));
    document.querySelector('#jpeg_download').setAttribute('href', document.getElementById("myChart").toDataURL("image/jpeg"));
<!--document.querySelector('#svg_download').setAttribute('href', document.getElementById("myChart").toDataURL("image/svg"));-->
                }
            }

        }
    });
 <!--var url_base64jp = document.getElementById("myChart").toDataURL("image/jpg");-->
<!--console.log(url_base64jp);-->
<!--$('#png_download').attr('href',url_base64jp)-->

 }

function getIntegrationVolume(period_start_utc, period_end_utc)
{
$('.innerWrapper').addClass('loading')
  var data = { csrfmiddlewaretoken: '{{ csrf_token }}',"period_start_utc":period_start_utc, "period_end_utc": period_end_utc};
     $.ajax({
         url: '{% url 'etl_robot_app:get_integration_donut' %}',
         type: 'POST',
         dataType : "json",
         data: data,
         async: false,
         beforeSend: function () {
         },
         success:function(data){
$('.innerWrapper').removeClass('loading')
             if(data.status)
             displayDoughnutChart(data.data);
             else
                 $.notify({
          icon: ' fas fa-times-circle',
            message: "Some error occured"

          },{
            type: 'danger',
            timer: 2000
        });

         }
     });
}

function displayDoughnutChart(data)
{
var label = [];
var rows = [];    <!--count =Object.keys(data).length-->
var color=[];
$('#doghnut_char_div').html('<canvas id="doughnut-chart"></canvas>')
var dynamicColors = function() {
           items = ["rgb(255, 230, 204)","rgb(255, 242,204)","rgb(217, 255, 204)","rgb(204, 242, 255)","rgb(217, 204, 255)","rgb(255, 204, 217)"]

            return items[Math.floor(Math.random()*items.length)]
         };

     $.each( data, function( key, value ) {
         label.push(key);
         rows.push(parseInt(value));
         color.push(dynamicColors())
     });
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
          labels: label,
          datasets: [
            {
              backgroundColor: color,
              data: rows
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
        }
    });
}


function getIntegrationSummary(period_start_utc, period_end_utc)
{
$('.innerWrapper').addClass('loading')
    var data = { csrfmiddlewaretoken: '{{ csrf_token }}',"period_start_utc":period_start_utc, "period_end_utc": period_end_utc};
     $.ajax({
         url: '{% url 'etl_robot_app:get_integration_summary' %}',
         type: 'POST',
         dataType : "json",
         data: data,
         async: false,
         beforeSend: function () {
         },
         success:function(data){
$('.innerWrapper').removeClass('loading')
             console.log(data)
            if(data.status)
            {
                if(data.data.length>0)
                    {
                        $('#integration_body').html('')
                        $.each(data.data,function(i,v)
                        {

                            if(v.status__name=="On")
                                v.status__name="Active"
                            $('#integration_body').append('<tr><td><a href="javascript: void(0);" class="tname"><img src="/media/'+v.account_source__source__image_url_small+'" alt=""><span>'+v.account_source__source__name+'</span></a></td><td>'+v.rows+'</td><td>'+v.last_sync+'</td><td>'+v.notification+'</td><td><span class="badge badge-success">'+v.status__name+'</span></td></tr>')
                        })
                    }
                else
                {
                     $.notify({
          icon: 'fas fa-info-circle',
            message: "No <b>Records</b> Found."

          },{
            type: 'info',
            timer: 2000
        });
                }

            }
            else
            {
                 $.notify({
          icon: ' fas fa-times-circle',
            message: data.message

          },{
            type: 'danger',
            timer: 2000
        });
            }
         }
     });
}


function getActiveIntegrations() {
$('.innerWrapper').addClass('loading')
    $.post('{% url 'etl_robot_app:active_integrations' %}', {
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      function(data) {
$('.innerWrapper').removeClass('loading')
        if (data.status) {
          if(data.data['integration']==null)
            {
            $('#active_integration').html('0')
             $.notify({
          icon: 'fas fa-info-circle',
            message: "No <b>Active</b> Integrations."

          },{
            type: 'info',
            timer: 2000
        });
            }
          else
            $('#active_integration').html(data.data['integration'])

        }
        else
        {
        $.notify({
          icon: ' fas fa-times-circle',
            message: data.message

          },{
            type: 'danger',
            timer: 2000
        });
        }
      })

}


function downloadPDF() {
  var canvas = document.querySelector('#myChart');
	//creates image
	var canvasImg = canvas.toDataURL("image/jpeg", 1.0);

	//creates PDF from img
	var doc = new jsPDF('landscape');
	doc.setFontSize(20);
	doc.text(15, 15, "Cool Chart");
	doc.addImage(canvasImg, 'JPEG', 10, 10, 280, 150 );
	doc.save('chart.pdf');
}
{% endblock %}
