{% extends 'dashboardbase.html' %}
{% load static %}
{% load customtags %}
{% block title %}Integrations | etlrobotsaas{% endblock %}
{% block navtitle %}Integrations{% endblock %}
{% block content %}
<div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-12 max1090">
                  <div class="dash_card">
                    <div class="dash_body">
                      <div class="content listing_section">

                        <div class="section_title flex-head">
                          <div class="headIcon">
                            <img src="media/image/integrations/five9_300sq.png" alt="">
                          </div>
                          <div class="col_flex_v_c">
                            <h3>Enter {{account_type}} Details</h3>

                            <p>
                              Enter your {{account_type}} account details for which you would like to track.
                            </p>
                          </div>
                        </div>



                        <form method="post">
                             {% csrf_token %}
                            <input type="hidden" name="source_name" value="{{account_type}}">
                          <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" name="email" class="form-control" id="email">
                              <span style="color:red"> {{ form.email.errors }}</span>
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" name="password" class="form-control" id="pwd">
                              <span style="color:red"> {{ form.password.errors }}</span>
                          </div>
                          <div class="form-group">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="btn-group m_l_auto btn-group_gbtn">
                                  <a href="{% url 'etl_robot_app:integrations' %}" class="btn btn-secondary btn-fill" >Cancel</a>
                                  <button type="submit" class="btn btn-success btn-fill" >Authorise</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>


                        <hr>

                        <br>

                        <div class="footer">
                          <div class="float-left backBtn">
                            <a class="link-d" href="{% url 'etl_robot_app:dashboard'%}">
                              Back to DASHBOARD
                            </a>
                          </div>
                        </div>
                        <div class="clearfix"></div>




                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

{% endblock %}